<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
        <h1><%= title %></h1>
        <ul>
            <li><a href="/create/item">Create item</a></li>
            <li><a href="/create/pool">Create pool</a></li>
            <li><a href="/create/itemtopool">Add item to pool</a></li>
        </ul>
        <a href="/">Back to main page</a>
</body>
</html>
