*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    font-family: sans-serif, serif;
}

body {
    font-size: 50px;
    padding: 10px;
}

h1 {
    display: flex;
    justify-content: center;
}

button,
select,
input {
    overflow: hidden;
    max-width: 20rem;
    min-width: 0%;
}

input,
button,
select {
    padding: 10px;
    font-size: 40px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.crud {
    display: flex;
    list-style-type: none;
    gap: 30px;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    overflow-wrap: break-word;
    flex: 1;
}

.list>ul {
    max-width: 100%;
}

.doubleList {
    display: flex;
    justify-content: center;
    max-width: 100%;
    gap: 40px;
}

@media (width < 1400px) {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

@media (width < 800px) {

    body,
    input,
    select,
    button {
        font-size: 30px;
    }
}
