*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    font-family: sans-serif, serif;
}

body {
    font-size: 50px;
    padding: 10px;
}

button,
select {
    padding: 10px;
    font-size: 40px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.crud {
    display: flex;
    list-style-type: none;
    gap: 30px;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doubleList {
    display: flex;
    gap: 40px;
}
