<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
        <h1><%= title %></h1>
        <ul>
            <% errors.forEach((item) => { %>
                <li><%= item.msg %></li>
            <% }) %>
        </ul>
        <form action="/delete/pool" method="POST">
            <label for="name">Pool: </label>
            <select name="name" id="name">
                <%- include('../partials/options', {table: pools}) %>
            </select>
            <button type="submit">Submit</button>
        </form>
        <a href="/delete">Back to delete page</a>
</body>
</html>
